<section class="vh-100">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card h-100 ">
          <div class="card-body text-center">
            <h1 class="text-white card-title">You: {{ user?.username }}</h1>
            <img class="img-fluid mb-3" [src]="user?.proPic" alt="{{user?.username}} propic">
            <p class="text-white card-text"><strong>Email:</strong> {{ user?.email }}</p>
            <p class="text-white card-text"><strong>Username:</strong> {{ user?.username }}</p>
            <p class="text-white card-text"><strong>Age:</strong> {{ user?.age }}</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <span class="display-6 fw-bold">Recent Visitors</span>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let visitor of users">
            <div class="card h-100 shadow-sm text-center">
              <img class="card-img-top mx-auto mt-3" [src]="visitor.proPic" alt="{{visitor.username}} propic"
                style="width: 100px; height: 100px;">
              <div class="card-body">
                <h5 class="text-white card-title">{{ visitor.username }}</h5>
                <p class="text-white card-text"><strong>Age:</strong> {{ visitor.age }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>