<section class="vh-100">

  <div class="container-fluid d-flex justify-content-center py-3">
    <div class="row">
      <div class="col-12">
        <h2 class="text-white text-center mt-5">Hey there!</h2>
        <p class="text-white fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequuntur at porro
          aliquam eveniet in nisi eius blanditiis perferendis rerum ea assumenda dolorem aspernatur id, doloremque
          officiis harum exercitationem? Repellat!</p>
        <p class="text-white fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequuntur at porro
          aliquam eveniet in nisi eius blanditiis perferendis rerum ea assumenda dolorem aspernatur id, doloremque
          officiis harum exercitationem? Repellat!</p>
        <p class="text-white fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequuntur at porro
          aliquam eveniet in nisi eius blanditiis perferendis rerum ea assumenda dolorem aspernatur id, doloremque
          officiis harum exercitationem? Repellat!</p>
      </div>
    </div>
  </div>
  <div class="container border-top border-dark py-3">
    <div class="row">
      <div class="col-4"><img class="img-fluid" src="https://placedog.net/510" alt=""></div>
      <div class="col-4"><img class="img-fluid" src="https://placedog.net/520" alt=""></div>
      <div class="col-4"><img class="img-fluid" src="https://placedog.net/500" alt=""></div>

    </div>
  </div>
  <div class="container border-top border-dark py-3">
    <div class="row">
      <div class="col-4"><img class="img-fluid" src="https://placedog.net/530" alt=""></div>
      <div class="col-4"><img class="img-fluid" src="https://placedog.net/550" alt=""></div>
      <div class="col-4"><img class="img-fluid" src="https://placedog.net/540" alt=""></div>

    </div>
  </div>
  <div class="container border-top border-dark py-3">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center mt-5">FAQ</h3>
        <ul class="d-flex flex-column align-items-center">
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit?<strong>Met consequatur officia debitis earum in
              perferendis mollitia e!</strong>
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit?<strong>Met consequatur officia debitis earum in
              perferendis mollitia e!</strong>
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit?<strong>Met consequatur officia debitis earum in
              perferendis mollitia e!</strong>
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit?<strong>Met consequatur officia debitis earum in
              perferendis mollitia e!</strong>
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit?<strong>Met consequatur officia debitis earum in
              perferendis mollitia e!</strong>
          </li>

        </ul>
      </div>
    </div>

  </div>


</section>